<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Send messages form</h1>
    <div class="formcontainer">
        <form action="#" class="mainform" method="POST">
            <label for="sender">Sender Email(s)</label>
            <input type="email" name="sender" placeholder="Sender Email" required>
            <label for="senderpassword">Sender Password</label>
            <input type="text" name="senderpassword" placeholder="Sender Password" required>
            <label for="sender">Receiver Email(s)</label>
            <input type="text" name="receiver" placeholder="Receiver Email(s)" required>
            <label for="emailsubject">Email Subject</label>
            <input type="text" name="emailsubject" placeholder="Email Subject" required>
            <label for="emailbody">Email Body</label>
            <input type="text" name="emailbody" placeholder="Email Body" required>
            <input type="submit">
        </form>
    </div>
</body>
</html>